@model WebMaxiFarmacia.Models.Category

@{
    ViewBag.Title = "Detalles";
}



<div class="row">
    <div class="col-md-offset-2 col-md-8 col-md-offset-2">
        <h2 class="text-center">Detalle</h2>
        <h4>Categoria</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

        </dl>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.CategoryId }, new { @class = "btn btn-primary" }) |
        @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-default" })
    </p>
    </div>
</div>
